
<%- include('../layouts/user/header.ejs') %>
    <!-- Start Register -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Register</h2>
                        <h2 class="ec-title">Register</h2>
                        <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                    </div>
                </div>
                <div class="ec-register-wrapper">
                    <div class="ec-register-container">
                        <div class="ec-register-form">


                            <form action="/register" method="post" id="form">
                                <span class="ec-register-wrap ec-register-half">
                                    <label>name</label>
                                    <input type="text" name="name" placeholder="Enter your  name" id="name"  />
                                    <span class="error text-danger" id="nameError"></span>

                                </span>
                                
                                <span class="ec-register-wrap ec-register-half">
                                    <label>Email*</label>
                                    <input type="email" name="email" placeholder="Enter your email add..." id="email" />
                                    <span class="error text-danger" id="emailError"></span>
                                </span>
                                <span class="ec-register-wrap ec-register-half">
                                    <label>Phone Number*</label>
                                    <input type="text" name="phonenumber" placeholder="Enter your phone number" id="mobile"
                                         />
                                         <span class="error text-danger" id="mobileError"></span>
                                </span>
                                <span class="ec-register-wrap ec-register-half">
                                    <label>Password*</label>
                                    <input type="password" name="password" placeholder="Enter your password" id="password"
                                        />
                                </span>
                                
                                
                               
                              
                                <span class="ec-register-wrap ec-register-btn">
                                    <button class="btn btn-primary" type="submit">Register</button>
                                </span>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script>
            const form = document.getElementById("form");
            const name = document.getElementById("name");
            const email = document.getElementById("email");
            const mobile = document.getElementById("mobile");
          
            const nameError = document.getElementById("nameError");
            const emailError = document.getElementById("emailError");
            const mobileError = document.getElementById("mobileError");
          
            form.addEventListener("submit", (event) => {
            event.preventDefault();
          
            const namevalue = name.value.trim();
            const emailvalue = email.value.trim();
            const mobilevalue = mobile.value.trim();
          
                  if (!namevalue) {
                    nameError.textContent = "Please Enter your Name";
                    return;
                  } else {
                    nameError.textContent = "";
                  }
          
                  if (!mobilevalue) {
                      mobileError.textContent = "Please Enter Mobile Number";
                    return;
                  } else if(isNaN(Number(mobilevalue))) {
                      mobileError.textContent = "Only Numbers allowed";
                      return
                  }else if(mobilevalue.length < 10) {
                      mobileError.textContent = "invalid mobile Number";
                      return
                  }else{
                      mobileError.textContent = ""
                  }
          
                  if (!emailvalue) {
                    emailError.textContent = "Please Enter your email";
                    return;
                  } else if(!isEmail(emailvalue)) {
                    emailError.textContent = "Enter a valid email";
                    return;
                  }else{
                    emailError.textContent = "";
                  }
                  form.submit();
          
            })
            function isEmail(email) {
                return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
              }   
            
          
          
          </script>

    </section>
    
    <!-- End Register -->


   